In [1]:
#throw out exceptions data ("-666666666")

In [2]:
import os
import pandas as pd
import numpy as np
import requests
from census import Census
from pprint import pprint

# American Community Survey API Key
from config import acs_key

In [5]:
acs5_api_root = "https://api.census.gov/data/2016/acs/acs5?"
acs5_variables = "B19013_001E,\
B01003_001E,\
B01002_001E,\
B01001_002E,\
B01001_010E,\
B01001_011E,\
B01001_012E,\
B01001_026E,\
B01001_034E,\
B01001_035E,\
B01001_036E,\
B02001_001E,\
B02001_002E,\
B02001_003E,\
B02001_004E,\
B02001_005E,\
B02001_006E"

#Query examples: https://api.census.gov/data/2016/acs/acs5/examples.html

#If querying by ZCTA, use the lines below:
geo_unit = "zip%20code%20tabulation%20area:*"
predicates = f"&for={geo_unit}"

#If querying by block group, use the lines below - might not work now
#geo_unit = "block%20group:*"
#state_id = "17"
#county_id = "031"
#tract_id = "*"
#predicates = f"&for={geo_unit}\
#&in=state:{state_id}\
#&in=county:{county_id}\
#&in=tract:{tract_id}"


request_url = f"{acs5_api_root}\
get=NAME,{acs5_variables}\
{predicates}\
&key={acs_key}"

print(request_url)

https://api.census.gov/data/2016/acs/acs5?get=NAME,B19013_001E,B01003_001E,B01002_001E,B01001_002E,B01001_010E,B01001_011E,B01001_012E,B01001_026E,B01001_034E,B01001_035E,B01001_036E,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E&for=zip%20code%20tabulation%20area:*&key=86ed69bb313729e12eb61b2d3445f49038b85726

In [6]:
acs5_response = requests.get(request_url)
acs5_json = acs5_response.json()

In [11]:
# Convert to DataFrame
acs5_header = acs5_json[0]
acs5_df = pd.DataFrame(acs5_json[1:], columns=acs5_header)

# Column Reordering
acs5_df = acs5_df.rename(columns={"B19013_001E": "Median HH Inome (12 mo)",
                                   "B01003_001E": "Total Population",
                                   "B01002_001E": "Median Age",
                                   "B01001_002E": "Total Pop (M)",
                                   "B01001_010E": "22-24 yo (M)",
                                   "B01001_011E": "25-29 yo (M)",
                                   "B01001_012E": "30-34 yo (M)",
                                   "B01001_026E": "Total Pop (F)",
                                   "B01001_034E": "22-24 yo (F)",
                                   "B01001_035E": "25-29 yo (F)",
                                   "B01001_036E": "30-34 yo (F)",
                                   "B02001_001E": "Total Pop (Race)",
                                   "B02001_002E": "Total Pop (Race-W)",
                                   "B02001_003E": "Total Pop (Race-B)",
                                   "B02001_004E": "Total Pop (Race-N)",
                                   "B02001_005E": "Total Pop (Race-A)",
                                   "B02001_006E": "Total Pop (Race-H)"
                                })

In [12]:
acs5_df.head()

,NAME,Median HH Inome (12 mo),Total Population,Median Age,Total Pop (M),22-24 yo (M),25-29 yo (M),30-34 yo (M),Total Pop (F),22-24 yo (F),25-29 yo (F),30-34 yo (F),Total Pop (Race),Total Pop (Race-W),Total Pop (Race-B),Total Pop (Race-N),Total Pop (Race-A),Total Pop (Race-H),zip code tabulation area
0,ZCTA5 01001,56714,17423,45.0,8059,396,415,583,9364,307,554,619,17423,15974,256,5,703,24,01001
1,ZCTA5 01002,48923,29970,23.2,14536,2104,1019,568,15434,1588,878,615,29970,23459,1711,140,3502,17,01002
2,ZCTA5 01003,2499,11296,19.9,5694,472,70,1,5602,456,9,0,11296,8698,660,30,1538,0,01003
3,ZCTA5 01005,70568,5228,44.1,2798,22,142,158,2430,132,82,47,5228,5063,105,0,32,18,01005
4,ZCTA5 01007,80502,14888,42.5,7224,413,216,323,7664,192,336,327,14888,13906,125,0,443,0,01007

In [ ]:
acs5_df.