In [1]:
# Dependencies
import requests
import json
import pandas as pd
import gmaps
from yelpapi import YelpAPI

# Google API Key
from config import google_key
from config import yelp_key
yelp_api = YelpAPI(yelp_key)

In [2]:
store_locations = pd.read_csv("Resources/projectbeggarsstart_geo.csv")
store_locations

    SQL_ID               Address              City State   Latitude  Longitude
0      122       12700 S Kedzie        Blue Island    IL  41.661707 -87.700403
1      123       12660 S Western       Blue Island    IL  41.663078 -87.680465
2    10465       3277 W 115th St  Merrionette Park    IL  41.683913 -87.701136
3    11834   22149 Governors Hwy      Richton Park    IL  41.485875 -87.712412
4    10674       3524 Ridge Road           Lansing    IL  41.564555 -87.531317
5    10766   15600 S Cicero Road        Oak Forest    IL  41.608535 -87.737192
6    10783     650 W Lincoln Hwy         New Lenox    IL  41.518236 -87.981932
7    12294    11329 W. 143rd St.       Orland Park    IL  41.629047 -87.896268
8    12340      310 S Clinton St           Chicago    IL  41.877560 -87.641331
9    12896        165 Main St NW       Bourbonnais    IL  41.155617 -87.880621
10   14383           417 63rd St    Downers Grove     IL  41.772705 -87.994602
11   12086    10314 S Halsted St           Chicago    IL  41.706408 -87.643237
12   13604    621 W Roosevelt Rd           Maywood    IL  41.864653 -87.840603
13   10688   10240 S Central Ave         Oak Lawn     IL  41.706011 -87.760370
14   11467          3344 Hart St              Dyer    IN  41.471215 -87.518912
15   11549      1640 E Summit St       Crown Point    IN  41.428878 -87.337822
16   12168       369 Sibley Blvd            Harvey    IL  41.622626 -87.634157
17   12359     8100 Stony Island           Chicago    IL  41.747549 -87.586346
18   12601       5133 Cicero Ave           Chicago    IL  41.799507 -87.742692
19   13289     10685 Randolph St         Winfield     IN  41.423694 -87.238425
20   13210         1326 119th St           Whiting    IN  41.679099 -87.496528
21   11409      16122 S Route 59        Plainfield    IL  41.589166 -88.202326
22   10584       9515 W 191st St            Mokena    IL  41.542526 -87.848635
23   14593      3518 Calumet Ave        Valparaiso    IN  41.500326 -87.041481
24   14581  300 Veterans Parkway       Bolingbrook    IL  41.689456 -88.116668

In [3]:
# parameters
target_categories = "pizza"
target_radius = 3000
target_limit = 50

ID = []
name = []
rating = []
review_count = []
lat = []
lng = []
transactions = []
distance = []
category = []

for index, row in store_locations.iterrows():

    target_id = row["SQL_ID"]

    # Search Yelp
    search_results = yelp_api.search_query(latitude=row["Latitude"],longitude=row["Longitude"],categories=target_categories,radius=target_radius,limit=target_limit)

    for result in search_results["businesses"]:
        if "Beggar" not in result["name"]:
            ID.append(target_id)
            rating.append(result["rating"])
            review_count.append(result["review_count"])
            name.append(result["name"])
            lat.append(result["coordinates"]["latitude"])
            lng.append(result["coordinates"]["longitude"])
            transactions.append(result["transactions"])
            distance.append(result["distance"])
            category.append(result["categories"][0]["title"])

In [4]:
#print(json.dumps(places_data, indent=4, sort_keys=True))
#print(len(places_data["results"]))
places = pd.DataFrame({
    "ID" : ID,
    "Name" : name,
    "Category" : category,
    "Review Count" : review_count,
    "Rating" : rating,
    "Transactions" : transactions,
    "Distance" : distance,
    "Latitude" : lat,
    "Longitude" : lng
})
places.to_csv("Resources/competitors_yelp.csv", index=False)
places.head()

,ID,Name,Category,Review Count,Rating,Transactions,Distance,Latitude,Longitude
0,122,Milano's Pizza & Specialties,Pizza,91,4.5,[delivery],3956.489333,41.694444,-87.681053
1,122,Giuseppe's Pizza,Pizza,41,4.5,[],2091.769536,41.650014,-87.680680
2,122,Russo's Pizza,Pizza,30,4.5,[],2776.707536,41.681599,-87.720108
3,122,Bartolini's,Pizza,113,4.0,[],3845.343848,41.630159,-87.718085
4,122,S & T Provisions,Pizza,56,4.5,[],3553.092631,41.691590,-87.715860

In [5]:
gmaps.configure(api_key=google_key)
locations_beggars = store_locations[["Latitude", "Longitude"]].astype(float)
locations_others = places[["Latitude", "Longitude"]].astype(float)

In [6]:
figure_layout = {
    'width' : '600px',
    'height': '600px'
}

fig = gmaps.figure(layout=figure_layout)
beggars_layer = gmaps.symbol_layer(
    locations_beggars, fill_color='black', stroke_color='black', scale=3
)
others_layer = gmaps.symbol_layer(
    locations_others, fill_color='red', stroke_color='red', scale=2
)

fig.add_layer(others_layer)
fig.add_layer(beggars_layer)

fig

Figure(layout=FigureLayout(height='600px', width='600px'))